@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007af3;
  --primary-accent: #006bd6;
}

a {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins';
}

section {
    padding: 3em 2em;
}


.navbar {
    background: var(--primary-color);
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: 700;
        font-size: 1.2em;
        color: black;
    }

    span {
        color: white;
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }
}


.task-section {
    text-align: center;
    padding: 0;
    margin-bottom: 5em;

    .text-center {
        color: var(--primary-color);
    }

    .main {
        font-weight: bold;
    }

    .task-content {
        h1 {
            margin-top: 2em;
            color: var(--primary-color);
        }

        .task-template {
            text-align: left;
            width: 70%;
            margin: 0 auto;
            font-size: 1em;
            word-wrap: break-word;

            .content {
                padding: 1em;
                
            }
        }

        .list-complete{
            margin-top: 1em;
            color: grey;
            text-decoration: line-through;
        }

    }

    .newtask-form {
        input {
            font-family: 'Poppins';
            text-align: center;
            border-radius: 5em;
            width: 70%;
            margin-bottom: 2em;
            margin-top: 1em;
        }
    }
}


.infographic {
    text-align: center;
    background: var(--primary-color);

    .info-head {
        .subhead {
            text-transform: uppercase;
            font-weight: bold;
            color: black;
            letter-spacing: 0.5em;;
        }
    
        h1 {
            font-size: 3em;
            line-height: 1.3em;
            margin-top: .2em;
            color: white;
        }
    }

    .info-img {
        width: 70%;
        margin-top: 3em;
    }
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272e;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    .mobile-menu-exit {
        float: right;
        margin: .5em;
        cursor: pointer;
    }

    li {
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.footbar {
    background: #f2f2f2;
    height: 6em;
    text-align: center;
    margin-bottom: 3em;

    footer {
        color: var(--primary-color);
        margin-top: 3em;

        a {
            color: var(--primary-color);
            text-decoration: none;
            font-weight: bold;
        }

        .container {
            display: flex;
            place-content: space-between;
        }

        .preface {
            padding-top: 1em;
            font-size: 0.75em;
            font-style: italic;
        }

        .name {
            margin-top: 0;
            font-size: 1.5em;
        }

        
    }
}


@media only screen and (min-width: 500px) {
    .task-section .task-content .task-template {
        font-size: 1.25em;
    }
}


@media only screen and (min-width: 900px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        .container {
            display: grid;
            grid-template-columns: 180px auto;
            justify-content: unset;
        }

        ul {
            display: flex;
        }
    
        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }
    
        ul.primary-nav {
            margin: 0
        }

        li.current a {
            font-weight: bold;
        }
    }  

    .task-section {
        .newtask-form input {
            width: 50%;
        }

        .task-content .task-template {
            width: 50%;
            font-size: 1.5em;
        }
    }
}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 8em 4em;
    }

    .infographic .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .info-head {
            margin: 3em 3em 0 5em;

            h1 {
                font-size: 3em;
                width: 90%;
            }
        }

        .info-img {
            width: 30%;
            margin-right: 8em;
        }
    }
}